
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Device details</h3>
  </div>
  <div class="panel-body">
	<p>
	  <strong>Name:</strong>
	  <%= @device.name %>
	</p>

  <p>
    <strong>Location:</strong>
    <%= @device.location %>
  </p>

	<p>
	  <strong>ID:</strong>
	  <%= @device.id %>
	</p>
  </div>
</div>

<%= link_to 'Edit device', edit_device_path(@device), class: "btn btn-default btn-sm" %>
<%= link_to 'Back', devices_path, class: "btn btn-default btn-sm" %>

<p>
  <h4>Properties:</h4>
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @device.properties.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= link_to 'Show', p, class: "btn btn-default btn-xs" %></td>
      <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</p>

<br>

<%= link_to 'Add New Property', new_property_path, class: "btn btn-default btn-sm" %>

<div style="margin: 30px;">
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?&" + @query + "&size=640x300&sensor=false", alt: "Map of location", class: "img-responsive" %>
</div>
